<div class="head-container">
  <img class="head-image" src="./../assets/minerlals/img-adria.png" />
  <h1 class="head-text">Els meus minerals</h1>
  <div class="contenidor">
    <img src="./../assets/minerlals/img-0.png" alt="" />
    <img src="./../assets/minerlals/img-1.png" alt="" /> 
    <img src="./../assets/minerlals/img-2.png" alt="" /> 
    <img src="./../assets/minerlals/img-3.png" alt="" /> 
    <img src="./../assets/minerlals/img-5.png" alt="" /> 
    <img src="./../assets/minerlals/img-4.png" alt="" /> 
    <img src="./../assets/minerlals/img-6.png" alt="" /> 
    <img src="./../assets/minerlals/img-7.png" alt="" />
    <img src="./../assets/minerlals/img-8.png" alt="" />
    <img src="./../assets/minerlals/img-9.png" alt="" />
  </div>
</div>
